<!--protected.html-->

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Inventory table</h2>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h5></h5>
        <form class="form-horizontal" novalidate ng-submit="addData()" name="addDataForm">
            <fieldset>
                <div class="form-group">
                    <label for="inputChemical" class="col-lg-3 control-label">Chemical (name or id) </label>
                    <div class="col-lg-9">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control"
                                   id="inputChemical"
                                   ng-model="newChemical.chemical"
                                   required
                                   >
                            <span class="input-group-btn">
                                <button type="button" ng-click="startDictation()" class="btn mic" ng-class="{recording: isRecording}">&nbsp;</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMaxweight" class="col-lg-3 control-label">Quantity </label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputMaxweight"
                               ng-model="newChemical.maxweight"
                               required
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLocation" class="col-lg-3 control-label">Location</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputLocation"
                               ng-model="newChemical.location"
                               >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputStore" class="col-lg-3 control-label">Store </label>
                    <div class="col-lg-9">
                        <input type="store"
                               class="form-control"
                               id="inputStore"
                               ng-model="newChemical.store"
                               required
                                placholder="Store">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input class="btn btn-primary" type="submit" ng-disabled="addDataForm.$invalid" value="Insert">
                        
                        <button class="btn btn-danger" type="button" ng-click="dropData()">Delete</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>{{message}}</p>
        <div id="grid1" ui-grid="{ data: chemicals }" class="grid"></div>
    </div>
</div>
<!--/protected.html-->
